<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <appSettings>
    <add key="ADServer" value="DEMEESDCADT0001.ad.test"/>
    <add key="AdDomain" value="ad.test"/>
    <add key="BindUserName" value="adtest\it-segbg-KpSync"/>
    <add key="BindPassWord" value="k5BQ?2_q"/>
    <add key="KamDomainShortName" value="adtest"/>
  </appSettings>
  <connectionStrings>
    <add name="IrisDB" connectionString="data source=DEMEESDB0004\AA_SA1;initial catalog=HO_IRIS_PROD;uid=HO_IRIS_usr;pwd=zuV5vTpm;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>